<?xml version="1.0" encoding="utf-8" ?>
<configuration>

  <connectionStrings>
    <add name='myserver' connectionString="Data Source=(local);Initial Catalog=mydb;User ID=sa;Password=myp@assw0rd;MultipleActiveResultSets=True" providerName='System.Data.SqlClient' />
  </connectionStrings>

</configuration>
