<?xml version="1.0" encoding="utf-8" ?>
<configuration>

  <connectionStrings>
    <add name='pacific' connectionString="Data Source=(local);Initial Catalog=pacific;User ID=sa;Password=password1.;MultipleActiveResultSets=True" providerName='System.Data.SqlClient' />
    <add name="connectionManager" connectionString="Data Source=.;Initial Catalog=ConnectionManager;User ID=sa;Password=password1.;MultipleActiveResultSets=True;Max Pool Size=1000" providerName='System.Data.SqlClient' />
  </connectionStrings>

</configuration>